@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container-fluid content">
        <div class="row">
            <div class="main">
                <div class="row">
                    <div class="col-lg-12">
                        欢迎使用！
                    </div><!--/col-->
                </div>
            </div>
            <!-- end: Content -->
        </div><!--/container-->
    </div>
</div> 