@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid content" ng-app="app" ng-controller="ctl">
    <div class="row">
        <!-- start: Content -->
        <div id="canapplyid" style="display:none;">@ViewBag.canapply</div>
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header left"><i class="fa fa-file-text"></i> 修改密码</h3>
                    <ol class="breadcrumb right">
                        <li><i class="fa fa-home"></i><a href="#">管理首页</a></li>
                        <li>修改密码</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal margin20">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="text-input">原密码</label>
                                        <div class="col-md-4">
                                            <input type="password" id="text-input" name="text-input" ng-model="oldpaassword" class="form-control" placeholder="请输入原始密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="text-input">新密码</label>
                                        <div class="col-md-4">
                                            <input type="password" id="text-input" name="text-input" ng-model="newpassword01" class="form-control" placeholder="请输入新密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="text-input">确认密码</label>
                                        <div class="col-md-4">
                                            <input type="password" id="text-input" name="text-input" class="form-control" ng-model="newpassword02" placeholder="请输入确认密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="file-input"></label>
                                        <div class="col-md-9">
                                            <button type="button" ng-click="add()" class="btn btn-success col-md-3"><i class="fa fa-dot-circle-o"></i> 提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Content -->
    </div><!--/container-->
</div>
@section scripts{
    <script src="~/Scripts/Controllers/Account/changepassword.js"></script>
}
